.App {
  text-align: center;
  background-color: #282c34;
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  padding: 10px 10%;
}
p {
  display: flex;
  align-items: center;
  margin: 0;
}
.header {
  display:flex;
  flex-direction: row;
  min-width: 80%;
  justify-content: space-between;
  align-content: center;
  padding: 0 20%;
  color: #09090a;
}

.header-left {
  display:flex;
  flex-direction: row;
}
.header-right {
  display:flex;
  flex-direction: row;
}
.pushable {

}
.pushable:hover {
  color: orange;
  cursor: pointer;
}

.layout {
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 0 10% 0 10%;
  flex-direction: row;
}

.list {
  /*padding: 50px;*/
  background-color: #262a31;
  min-width: 50%;

}
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(1px + 1.7vmin);
  /*  Решение для нормального отображения иконок*/
  padding: 0 10% 0 10%;
/*  НАДО РЕАЛИЗОВАТЬ ПЕРЕНОС СЛОВ ИЛИ АВТОМАТИЧЕСКОЕ УМЕНЬШЕНИЕ ШРИФТА В СЛУЧАЕ, ЕСЛИ СЛОВО НЕ УМЕЩАЕТСЯ - через JQuery*/
}


.list-item:nth-child(even) {
  background: #aeb1b8;
}

.listed {
  padding:  0 5% 0 5%;
}

.icons_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.icons {
  font-size: calc(1px + 2vmin);
  font-weight: normal;
  color: #09090a;
  padding: 20%;
  /*display: block;*/
}
.admin:hover {
  cursor: pointer;
  color: purple;
}


.details {
  display:block;
  color: white;
  background-color: #3a3f49;
  padding: 10%;
  font-size: calc(1px + 1.5vmin);
  min-height: 200px;
  min-width: 50%;
  text-align: left;
}

.orange {
  color: orange;
}

.rate-container {
  border-top: 2px solid orange;
}

.rate-container span.fa {
  font-size: 1.2em;
  cursor: pointer;
}

.yellow {
  color: yellow;
}

input, textarea {
  width: 90%;
  display: inline-flex;
  font-size: calc(1px + 1.5vmin);
  padding: 3%;
}
textarea {
  min-height: 200px;
}

button {
  font-size: calc(1px + 1.5vmin);
  margin: 20px;
  padding: 20px;
  color: white;
  background-color: #232323;
  outline: none;
  border: #070707;
  border-width: medium;
  border-radius: 2px;
}
button:hover {
  cursor: pointer;
  background-color: #ffa500;
}
button:disabled {
  color: #444444;
  background-color: #3d2525;
  cursor: not-allowed;
}
h1 {
  color: orange;
  font-size: calc(1px + 5vmin);
}
h1 span.fa {
  color: white;
  transform: rotate(-20deg);
}

.login-dark{
  display: block;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #3a3f49;
  padding: 50px;
  font-size: calc(1px + 1.5vmin);
  min-height: calc(100vh - 100px);
  min-width: 50%;
}
.login-dark input{
  width: 80%;
}
.errorNote {
  color: #f53c3c;
  align-self: ;
}
/*-----------------------------------------------------------------------------------*/
/*ПРИ ИЗМЕНЕНИИ ЭКРАНА БУДУТ РАБОТАТЬ НИЖИ ОПИСАННЫЕ ИЗМЕНЕНИЯ*/
/* работает для max-width, когда меняем при сжимании, но не работает наоборот, для растягивания,
хотя от меньшего к больщему считается best practice...*/
@media (max-width: 700px) {
  .layout {
    flex-direction: column-reverse;
    padding: 50px;
  }
  .details {

  }
}
/*-----------------------------------------------------------------------------------*/
/*ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ БЕЗ МЫШИ*/
@media only screen and (max-device-width: 1440px) {
  .layout {
    flex-direction: column-reverse;
    padding: 50px;
  }
  .details {
    display:block;
    max-width: 100%;
  }
}
/*Small devices (landscape phones, 576px and up)*/
/*@media screen and (min-width: 576px) { ... }*/

/*// Medium devices (tablets, 768px and up)*/
/*@media screen and (min-width: 768px) { ... }*/

/*// Large devices (desktops, 992px and up)*/
/*@media screen and (min-width: 992px) { ... }*/

/*// Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/