<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Flask App</title>
    {% else %}
    <title>Flask App</title>
    {% endif %}
</head>
<body>
    <div style="align='center'">Flask App:
        <a href="{{ url_for('index') }}">Главная страница</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Вход</a>
        {% else %}
        <span> Пользователь: {{ current_user.username }} </span><a href="{{ url_for('logout') }}">Выход</a>
<!-- У учителя не было этого span <span> Пользователь: {{ current_user.username }}</span>-->
        {% endif %}
    </div>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {%for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    {% block content %} {% endblock %}
<!--content в данном случае - имя блока -->
</body>
</html>